.vbucks {
  height: 200px;
  display: block;
  width: 1200px;
}
.putin {
  display: flex;
  height: 200px;
  width: 120px;
  margin-left: 1000px;
  position: fixed;
}
.button {
  margin-top: 400px;
  color: salmon;
}
